@import "libs/reset.scss";
@import "libs/functions.scss";
@import "libs/responsive.scss";

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

nav {
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.677);
  color: #595e54;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: #595e54;
    &:hover {
      color: darken($color: #41463c, $amount: 0);
    }
  }

  div img {
    width: rem(65);
    padding: em(15);
  }

  img {
    width: rem(90);
    padding: em(0);
    padding-left: em(50);
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  .navbar li {
    font-size: rem(25);
    padding: em(10);
    padding-bottom: em(0);
  }
}

header {
  width: 100%;
  background-image: url(../img/background-trees.jpg);
  background-size: cover;
  background-position: 25%;
  background-attachment: scroll;

  .scrolldown-wrapper {
    left: 50%;
    position: absolute;
    text-align: center;
    bottom: 0;
    transform: translate(-50%, -50%);
  }

  .scrolldown {
    border: 2px solid #ffffff;
    border-radius: 30px;
    height: 60px;
    margin: 0 auto 8px;
    text-align: center;
    width: 40px;
  }

  .scrolldown-p1,
  .scrolldown-p2 {
    animation-duration: 1.5s;
    animation-name: scrolldown;
    animation-iteration-count: infinite;
    fill: #ffffff;
  }

  .scrolldown-p2 {
    animation-delay: 0.75s;
  }

  @keyframes scrolldown {
    0% {
      opacity: 0;
      transform: translate(0, -8px);
    }
    50% {
      opacity: 1;
      transform: translate(0, 0);
    }
    100% {
      opacity: 0;
      transform: translate(0, 8px);
    }
  }
}

.header--dark {
  background-image: url(../img/background-flower.jpg);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  font-family: "Kalam", cursive;
  text-shadow: 1px 1px 2px black;
  color: white;

  #name {
    font-weight: 700;
    font-size: 4rem;
    padding-top: 1rem;
  }

  #job {
    font-weight: 400;
    font-size: 2.5rem;
  }
}

.about {
  width: 60%;
  padding: 1rem;

  box-shadow: 0 0 1em lightgray;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .description {
    padding-left: 1.5rem;
  }
  h2 {
    padding-left: em(16);
  }
  .description div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.3rem;
    padding-bottom: 0;
  }

  .hobbies {
    display: flex;
    flex-direction: row;
    .material-symbols-outlined {
      font-size: rem(30);
    }
  }
}
.skills {
  width: 60%;
  padding: 1rem;
  box-shadow: 0 0 1em lightgray;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  h2 {
    margin-left: 3rem;
  }

  .hardSkills,
  .softSkills {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    list-style: none;
  }

  .hardSkills {
    img {
      width: 1.5rem;
      margin: 1rem;
    }
    #img2,
    #img5 {
      width: 2.3rem;
      margin: 0.6rem;
    }
  }
  .langage,
  .soft {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
  }

  .soft span {
    width: 2.3rem;
    font-size: 2rem;
    margin: 0.6rem;
  }
}
.card_title {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-size: 1.8rem;
  color: #858d7d;
  padding: rem(16);
  padding-top: rem(90);
  margin: 1rem auto;
  margin-top: rem(70);
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-family: "Kalam", cursive;
  font-weight: 700;
}

.formation,
.experience,
.portfolio {
  width: 60%;
  padding: 1rem;

  box-shadow: 0 0 1em lightgray;
  margin: 3rem auto;
}

ol {
  list-style: none;
}

.formation {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-left: 4rem;
  padding-top: 2rem;

  ol {
    width: 75%;
    list-style: circle;
  }

  p {
    margin-bottom: 0.3rem;
    margin-left: 1rem;
    font-size: 1rem;
  }

  .article {
    margin-bottom: 2rem;
  }
}

h3 {
  font-family: "Kalam", cursive;
  margin-bottom: 0;
  margin-left: 1rem;
  align-self: center;
}

h4,
h5 {
  font-size: 1rem;
  margin-left: 1rem;
  margin-bottom: 0;
}

span {
  font-size: 2rem;
}
